*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(60, 128, 63);
}

.block-1 {
  width: 600px;
  height: 90vh;
  background-color: #000;
  border-radius: 25px;
  margin: 0 auto;
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow:    6px 6px 5px 0px rgba(0, 0, 0, 0.6);
  box-shadow:         6px 6px 5px 0px rgba(0, 0, 0, 0.6);

  animation: first 2s, 1s second 2s linear;
}

.content {
  color: #fff;
  animation: 4s ease-in 0s third, 1s ease-in  3s fourth;
}

.title {
  font-size: 48px;
  text-align: center;
}

.items {
  padding: 0 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px 10px 5px;
}

.item:not(:last-child) {
  border-bottom: 1px solid rgba(240, 240, 240, 0.7);
}

.item-name {
  width: 40%;
}

/* Animation block-1 */

@keyframes first {
    from {
      height: 1vh;
      width: 150px;
    }
    to {
      height: 90vh;
      width: 150px;
    }
}

@keyframes second {
    from {
      width: 150px;
    }
    to {
      width: 600px;
    }
}

/* Animation content */

@keyframes third {
    from {
      opacity: 0;
    }
    to {
      opacity: 0;
    }
}
@keyframes fourth {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Media */

@media (max-width: 640px) {
  .block-1 {
    width: 360px;
    height: 90vh;

}

  @keyframes second {
    from {
      width: 150px;
    }
    to {
      width: 360px;
    }
  }
}

@media (max-width: 360px) {
  .block-1 {
    width: 280px;
    height: 90vh;
}

  .title {
    font-size: 36px;
    text-align: center;
  }

  .item {
    font-size: 14px;
  }

  @keyframes second {
    from {
      width: 50px;
    }
    to {
      width: 280px;
    }
  }
}
